## Question #1:
Consider the following python module:

In [8]:
a = 0 
def b():
  global a
  a = c(a)
    
def c(a):
 return a + 2

After importing the module into the interpreter, you execute:

In [9]:
b()
b()
b()
a

6

What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

##### b(): When it is called for the first time this function calls c(). The current value of c() is a, which is 0. The fuction c() adds 2 in to a. Hence the output is 2.
##### b(): When this function is called for the second time, the function c() is called with its current value of a which is 2. The function c() again adds 2 to the input a and outputs the result as 4.
##### b(): When this function is called for the third time, the function c() is called with its current value of a which is 4. The function c() again adds 2 to the input a and outputs the result as 6.
##### a: In this step, it evaluated the current value of a which is 6.

## Question #2:

In [23]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"Sorry the file {filename} cannot be found.")

In [73]:
fileLength(r"C:\Users\gouth\Downloads\lenght.txt")

123

In [74]:
fileLength('len.txt')

Sorry the file len.txt cannot be found.

# Question #3:

In [25]:
class Marsupial:
    l=[]    
    def put_in_pouch(self,x):
        self.l.append(x)
    def pouch_contents(self):
        return self.l

In [26]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [27]:
class Kangaroo(Marsupial):
    cx=0
    cy=0
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def put_in_pouch(self,x):
        self.l.append(x)
    def jump(self,dx,dy):
        self.cx+=dx
        self.cy+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates (" + str(self.cx) + "," + str(self.cy) + ")"

In [28]:
k = Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [29]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question #4:
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [61]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [31]:
collatz(1)

1

In [32]:
collatz(10)

10
5
16
8
4
2
1

## Question #5:
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [33]:
def binary(a):
    if a > 1:
        binary(a//2)
    print(a % 2, end='')

In [34]:
binary(0)

0

In [35]:
binary(1)

1

In [36]:
binary(3)

11

In [37]:
binary(9)

1001

## Question #6:
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [77]:
from html.parser import HTMLParser
class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        'print value of href attribute if any'
        if tag.startswith('h'):
            print(tag)

In [78]:
infile = open(r"C:\Users\gouth\Desktop\w3c.html") 
content = infile.read() 
infile.close() 
linkparser = LinkParser() 
linkparser.feed(content)

html
head
h1
h2

In [79]:
from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for val in store:
                for tagno in ('h1','h2','h3','h4','h5','h6'):
                    if(val==tagno):
                        ind=store.index(tagno)
                        print(store[ind+1],end="\n\t")

In [80]:
infile = open(r"C:\Users\gouth\Desktop\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

## Question #7:
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [42]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def _init_(self):
        super()._init_()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
    except:
        return

    parser = LinkParser()
    parser.feed(response.read().decode())

    for link in parser.links:
        absolute_url = urljoin(url, link)
        webdir(absolute_url, depth - 1, indent + 1)

In [43]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

## Question #8:
Write SQL queries on the below database table that return:

In [104]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather3.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE weather(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)''')

# inserting data 
data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# commit changes and close connection
conn.commit()
conn.close()

In [105]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather3.db')

# create cursor object
c = conn.cursor()

#### a) All the temperature data.

In [106]:
c.execute('SELECT Temperature FROM weather')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

#### b) All the cities, but without repetition.

In [107]:
c.execute('SELECT DISTINCT City FROM weather')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India.

In [108]:
c.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records.

In [109]:
c.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [110]:
c.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [111]:
c.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### g) The total annual rainfall for Cairo.

In [112]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM weather WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

#### h) The total rainfall for each season.

In [113]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question #9:
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:

In [55]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [56]:
new_words = [word.upper() for word in words]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [57]:
new_words = [word.lower() for word in words]
print(new_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [58]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [59]:
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [60]:
new_words = [word for word in words if len(word) >= 4]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']